<p-dialog header="Edit Reservation" [(visible)]="displayEdit" [modal]="true" [responsive]="true" [width]="500" [minHeight]="350" [minWidth]="400" [minY]="70" [baseZIndex]="10000">
    <div>
        <form>
            <div class="form-row">
                <p class="form-row--label">Car</p>
                <!-- <p-dropdown class="form-row--control" [options]="cars" [(ngModel)]="editreservation.car" name="car" placeholder="Select a Car" optionLabel="carType" [style]="{width: '100%'}"></p-dropdown>
                 -->
                <select class="form-row--control" [(ngModel)]="editreservation.car" name="car">
                        <option [ngValue]="" disabled>Select a category</option>
                        <option *ngFor="let item of cars" [ngValue]="item" [selected]="editreservation.car.carType === item.carType">{{item.carType}}</option>
                      </select>
            </div>
            <div class="form-row">
                <p class="form-row--label">From</p>
                <p-calendar class="form-row--control" [(ngModel)]="editreservation.fromDate" [showIcon]="true" name='fromDate'></p-calendar>
            </div>
            <div class="form-row">
                <p class="form-row--label">To</p>
                <p-calendar class="form-row--control" [(ngModel)]="editreservation.toDate" [showIcon]="true" name='toDate'></p-calendar>
            </div>
            <div class="form-row">
                <p class="form-row--label">Client Name</p>
                <input class="form-row--control" type="text" [(ngModel)]='editreservation.client' name='client' pInputText>
            </div>
            <div class="form-footer">
                <button class="btn btn--primary" (click)="deleteReservation()">Delete</button>
                <button class="btn btn--primary" (click)="saveReservation()">Save</button>
                <button class="btn btn--secondary" (click)="closeEdit()">Cancel</button>
            </div>
        </form>
    </div>
</p-dialog>