/* You can add global styles to this file, and also import other style files */

.ui-dialog-content {
    min-height: 400px;
}

.btn {
    display: inline-block;
    min-width: 10%;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #2399e5;
    cursor: pointer;
    &--primary {
        margin-right: 1%;
        &:hover {
            background-color: #217cb8
        }
    }
    &--secondary {
        background-color: #949494;
        color: #000;
        &:hover {
            background-color: #fffafa;
        }
    }
}