<button class="btn btn--primary btn-add-reservation" (click)="openAddPopup()">Add Reservation</button>
<app-add-reservation></app-add-reservation>

<p-table [value]="record" class="reservation-table">
    <ng-template pTemplate="header">
        <tr>
            <th rowspan="3">Cars</th>
            <th colspan="14">{{today | date:'MMMM yyyy'}}</th>
        </tr>
        <tr>
            <th class="prev" (click)="goPrevious()">Previous</th>
            <th *ngFor="let col of cols">
                {{col.headers | date:'dd'}}
            </th>
            <th class="next" (click)="goNext()">Next</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reco>
        <tr>
            <td>
                {{reco['carName']}}
            </td>
            <td></td>
            <td *ngFor="let col of cols" style="">
                <span class="indicator" *ngIf="col.headers
                >=reco[col.fields.from] && col.headers
                        <=reco[col.fields.to]" (click)="openEditPopup(reco)">
                        {{reco[col.fields.id]}} {{reco[col.fields.client]}}
                </span></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>
<app-edit-reservation></app-edit-reservation>