.btn-add-reservation {
    margin-left: 85%;
    margin-bottom: 10px;
    cursor: pointer;
}

.reservation-table {
    .prev {
        cursor: pointer;
    }
    .next {
        cursor: pointer;
    }
    td {
        padding: 0;
    }
    .indicator {
        display: block;
        min-height: 20px;
        width: 100%;
        background: #46b8ec;
        z-index: 11;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }
}