.form-row {
    display: block;
    &--label {
        text-align: right;
        display: inline-block;
        width: 30%;
        margin-right: 2%;
    }
    &--control {
        display: inline-block;
        width: 48%;
        .ui-calendar {
            width: 90%;
        }
        .ui-dropdown {
            width: 100%;
        }
    }
}

.form-footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 92%;
    padding-left: 30%;
    .btn {
        display: inline-block;
        min-width: 34%;
        border: none;
        padding: 5px;
        color: #fff;
        background-color: #2399e5;
        &--primary {
            margin-right: 1%;
        }
        &--secondary {
            background-color: #949494;
        }
    }
}