<p-dialog header="Add Reservation" [(visible)]="displayAdd" [modal]="true" [responsive]="true" [width]="550" [minHeight]="500" [minWidth]="400" [minY]="70" [baseZIndex]="10000">
    <div>
        <form>
            <div class="form-row">
                <p class="form-row--label">Car</p>
                <!-- <p-dropdown [options]="cars" class="form-row--control" [(ngModel)]="reservation.car" name="car" placeholder="Select a Car" optionLabel="carType" [showClear]="false" [style]="{width: '100%'}"></p-dropdown> -->
                <select class="form-row--control" [(ngModel)]="reservation.car" name="car">
                                <option [ngValue]="" disabled>Select a category</option>
                                <option *ngFor="let item of cars" [ngValue]="item">{{item.carType}}</option>
                              </select>
            </div>
            <div class="form-row">
                <p class="form-row--label">From</p>
                <p-calendar class="form-row--control" [(ngModel)]="reservation.fromDate" [showIcon]="true" name='fromDate'></p-calendar>
            </div>
            <div class="form-row">
                <p class="form-row--label">To</p>
                <p-calendar class="form-row--control" [(ngModel)]="reservation.toDate" [showIcon]="true" name='toDate'></p-calendar>
            </div>
            <div class="form-row">
                <p class="form-row--label">Client Name</p>
                <input class="form-row--control" type="text" [(ngModel)]='reservation.client' name='client'>
            </div>
            <div class="form-footer">
                <button class="btn btn--primary" (click)="saveReservation()">Add</button>
                <button class=" btn btn--secondary" (click)="closeAdd()">Cancel</button>
            </div>
        </form>
    </div>
</p-dialog>